# Analyze the report of Swedish Motor Insurance

### Question

The data gives the details of third party motor insurance claims in Sweden for the year 1977. In Sweden, all motor insurance companies apply identical risk arguments to classify customers, and thus their portfolios and their claims statistics can be combined. The data were compiled by a Swedish Committee on the Analysis of Risk Premium in Motor Insurance. The Committee was asked to look into the problem of analyzing the real influence on the claims of the risk arguments and to compare this structure with the actual tariff.

The insurance dataset holds 7 variables and the description of these variables are given below:<br>
**Variable Description**<br>
Kilometers travelled per year<br>
            1: < 1000<br>
            2: 1000-15000<br>
            3: 15000-20000<br> 
            4: 20000-25000<br> 
            5: > 25000<br>
Geographical zone<br> 
            1: Stockholm, Göteborg, and Malmö with surroundings<br> 
            2: Other large cities with surroundings<br> 
            3: Smaller cities with surroundings in southern Sweden<br> 
            4: Rural areas in southern Sweden<br> 
            5: Smaller cities with surroundings in northern Sweden<br> 
            6: Rural areas in northern Sweden<br> 
            7: Gotland<br>
Bonus :     No claims bonus; equal to the number of years, plus one, since the last claim<br>
Make :      1-8 represents eight different common car models. All other models are combined in class 9.<br>
Insured:    Number of insured in policy-years<br>
Claims:     Number of claims<br>
Payment :   Total value of payments in Skr (Swedish Krona)<br>

### Import Libraries

In [1]:
import numpy as np
import pandas as pd

#Plotting
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

#Supress warnings
#Suppress cell warnings
import warnings
warnings.filterwarnings('ignore')

### Data Importation

In [2]:
insurance_df = pd.read_csv('Downloads/Projects/Insurance/Insurance/SwedishMotorInsurance.csv', low_memory=False)

In [3]:
#first five rows
insurance_df.head()

   Kilometres  Zone  Bonus  Make  Insured  Claims  Payment
0           1     1      1     1   455.13     108   392491
1           1     1      1     2    69.17      19    46221
2           1     1      1     3    72.88      13    15694
3           1     1      1     4  1292.39     124   422201
4           1     1      1     5   191.01      40   119373

In [4]:
insurance_df.shape

(2182, 7)

The DataFrame consists of 2182 rows and 7 columns

In [5]:
insurance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2182 entries, 0 to 2181
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Kilometres  2182 non-null   int64
 1   Zone        2182 non-null   int64
 2   Bonus       2182 non-null   int64
 3   Make        2182 non-null   int64
 4   Insured     2182 non-null   float64
 5   Claims      2182 non-null   int64
 6   Payment     2182 non-null   int64
dtypes: float64(1), int64(6)
memory usage: 119.5 KB

In [6]:
insurance_df.isnull().sum()

Kilometres    0
Zone          0
Bonus         0
Make          0
Insured       0
Claims        0
Payment       0
dtype: int64

This indicates that there are no missing values in the dataset

In [7]:
insurance_df.corr()

,Kilometres,Zone,Bonus,Make,Insured,Claims,Payment
Kilometres,1.000000,-0.014045,0.007226,-0.002671,-0.112990,-0.128452,-0.120886
Zone,-0.014045,1.000000,0.011752,-0.005216,-0.058232,-0.114687,-0.102695
Bonus,0.007226,0.011752,1.000000,0.002150,0.165425,0.105102,0.118033
Make,-0.002671,-0.005216,0.002150,1.000000,0.185642,0.253212,0.243539
Insured,-0.112990,-0.058232,0.165425,0.185642,1.000000,0.910348,0.933217
Claims,-0.128452,-0.114687,0.105102,0.253212,0.910348,1.000000,0.995400
Payment,-0.120886,-0.102695,0.118033,0.243539,0.933217,0.995400,1.000000

**1. Summary statistics for each variable**

In [8]:
#Perform descriptive statistics
insurance_df.describe()

,Kilometres,Zone,Bonus,Make,Insured,Claims,Payment
count,2182.000000,2182.000000,2182.000000,2182.000000,2182.000000,2182.000000,2.182000e+03
mean,2.985793,3.970211,4.015124,4.991751,1092.195270,51.865720,2.570076e+05
std,1.410409,1.988858,2.000516,2.586943,5661.156245,201.710694,1.017283e+06
min,1.000000,1.000000,1.000000,1.000000,0.010000,0.000000,0.000000e+00
25%,2.000000,2.000000,2.000000,3.000000,21.610000,1.000000,2.988750e+03
50%,3.000000,4.000000,4.000000,5.000000,81.525000,5.000000,2.740350e+04
75%,4.000000,6.000000,6.000000,7.000000,389.782500,21.000000,1.119538e+05
max,5.000000,7.000000,7.000000,9.000000,127687.270000,3338.000000,1.824503e+07

From here we can see that there are people who insured their cars but have not made a claim

**2. Find whether payment is related to number of claims and the number of insured policy years**

In [9]:
import statsmodels.formula.api as sm

In [10]:
formula_str = insurance_df.columns[6]+' ~ '+'+'.join(insurance_df.columns[4:6])
formula_str

'Payment ~ Insured+Claims'

In [11]:
model=sm.ols(formula=formula_str, data=insurance_df)

In [12]:
fitted = model.fit()

In [13]:
print(fitted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                Payment   R-squared:                       0.995
Model:                            OLS   Adj. R-squared:                  0.995
Method:                 Least Squares   F-statistic:                 2.211e+05
Date:                Sat, 12 Feb 2022   Prob (F-statistic):               0.00
Time:                        08:12:13   Log-Likelihood:                -27477.
No. Observations:                2182   AIC:                         5.496e+04
Df Residuals:                    2179   BIC:                         5.498e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   3250.7447   1582.708      2.054      0.040     146.971    6354.519
Insured       28.3881      0.651     43.580      0.000      27.111      29.665
Claims      4294.7750     18.282    234.920      0.000    4258.923    4330.627
==============================================================================
Omnibus:                      883.032   Durbin-Watson:                   1.885
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           130433.487
Skew:                           0.830   Prob(JB):                         0.00
Kurtosis:                      40.840   Cond. No.                     5.98e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.98e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

H0: There is no relationship between payment and number of claims and number of insured policy years<br>
H1: There is a relationship between payment and number of claims and number of insured policy years

From the above results, we reject null hypothesis(H0) since p-value <  p-alpha and conclude that there is a relationship between payment and number of claims and number of insured policy years

**3. Find out whether distance, location, bonus, make, insured amount or claims affect payment**

In [14]:
formula_str = insurance_df.columns[6]+' ~ '+'+'.join(insurance_df.columns[0:6])
formula_str

'Payment ~ Kilometres+Zone+Bonus+Make+Insured+Claims'

In [15]:
model=sm.ols(formula=formula_str, data=insurance_df)

In [16]:
fitted = model.fit()

In [17]:
print(fitted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                Payment   R-squared:                       0.995
Model:                            OLS   Adj. R-squared:                  0.995
Method:                 Least Squares   F-statistic:                 7.462e+04
Date:                Sat, 12 Feb 2022   Prob (F-statistic):               0.00
Time:                        08:12:13   Log-Likelihood:                -27461.
No. Observations:                2182   AIC:                         5.494e+04
Df Residuals:                    2175   BIC:                         5.498e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -2.173e+04   6338.112     -3.429      0.001   -3.42e+04   -9304.354
Kilometres  4768.5641   1085.728      4.392      0.000    2639.392    6897.737
Zone        2322.8967    773.508      3.003      0.003     806.005    3839.789
Bonus       1182.8983    773.748      1.529      0.126    -334.465    2700.261
Make        -754.2676    610.680     -1.235      0.217   -1951.845     443.310
Insured       27.8802      0.665     41.913      0.000      26.576      29.185
Claims      4315.8778     18.946    227.793      0.000    4278.723    4353.033
==============================================================================
Omnibus:                      877.117   Durbin-Watson:                   1.915
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           130119.607
Skew:                           0.815   Prob(JB):                         0.00
Kurtosis:                      40.796   Cond. No.                     2.43e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.43e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

Bonus and Make do not affect the payment

**4. Find out at what location, kilometer and bonus level their insured amount, claims and payment get increased**

In [23]:
payment_increase = insurance_df.groupby(['Zone','Kilometres','Bonus'])['Insured','Claims','Payment'].mean().sort_values(by='Payment',ascending=False)
payment_increase.head(506+)

                            Insured      Claims       Payment
Zone Kilometres Bonus
4    2          7      19543.612222  530.333333  2.917260e+06
     1          7      19143.095556  433.777778  2.357821e+06
     3          7      12956.287778  404.111111  2.169422e+06
2    2          7       8518.242222  322.555556  1.637884e+06
1    2          7       6918.635556  327.333333  1.612848e+06
3    2          7       9576.966667  314.111111  1.581017e+06
     1          7       9719.787778  271.222222  1.407028e+06
1    1          7       7007.348889  263.444444  1.262024e+06
2    1          7       8056.955556  253.777778  1.225560e+06
     3          7       5407.417778  241.666667  1.222893e+06
3    3          7       5912.294444  227.555556  1.190439e+06
4    4          7       5026.495556  191.000000  1.075509e+06
     2          1       1993.745556  215.000000  1.069190e+06
1    3          7       4377.594444  223.444444  1.033515e+06
4    1          1       2921.194444  203.333333  9.779922e+05
6    2          7       5790.537778  169.000000  9.251482e+05
1    1          1       1410.536667  233.555556  9.008124e+05
     2          1        966.138889  197.333333  8.706981e+05
2    1          1       1612.144444  184.333333  8.474687e+05
4    5          7       3441.147778  145.333333  8.054639e+05
6    1          7       5307.763333  138.666667  8.028322e+05
2    2          1       1036.567778  161.555556  7.361634e+05
6    3          7       3864.154444  130.666667  7.210844e+05
3    1          1       1649.692222  166.444444  7.033911e+05
4    2          2       1887.571111  127.333333  6.825393e+05
3    2          1       1067.496667  143.333333  6.261109e+05
4    2          6       2977.726667  112.111111  5.748219e+05
                3       1644.476667   87.555556  5.183381e+05
5    2          7       2756.622222   99.555556  5.042293e+05
4    3          6       2129.121111   96.333333  4.926428e+05
2    4          7       1948.481111   95.555556  4.912377e+05
3    4          7       2235.497778   93.333333  4.805268e+05
1    2          2        852.083333  101.555556  4.723927e+05
                6       1496.032222   93.666667  4.685667e+05
4    1          2       2114.243333   93.222222  4.578567e+05
1    3          6        967.007778   94.555556  4.537612e+05
4    1          6       2555.766667   78.666667  4.429168e+05
2    2          6       1683.390000   93.111111  4.407358e+05
5    1          7       2677.172222   86.444444  4.126931e+05
2    5          7       1347.822222   80.000000  4.099401e+05
1    2          3        752.708889   73.444444  4.027334e+05
3    5          7       1575.320000   73.888889  4.009952e+05
6    2          1        647.880000   74.000000  3.939167e+05
1    1          2        906.823333   87.666667  3.927818e+05
2    2          2        953.541111   85.444444  3.884929e+05
6    1          1        970.770000   76.888889  3.883733e+05
1    4          7       1392.422222   80.666667  3.800991e+05
3    2          2       1030.988889   82.444444  3.694828e+05
4    2          5       1704.096667   67.222222  3.613752e+05
3    2          6       1671.702222   77.555556  3.471389e+05

Rural areas in southern Sweden, 1000-15000 kilometers and 7 years no claim bonus

**5. Find whether the insured amount, zone, kilometer, bonus or make affect the claim rates and to what extent**

In [19]:
formula_str = insurance_df.columns[5]+' ~ '+'+'.join(insurance_df.columns[:5])
formula_str

'Claims ~ Kilometres+Zone+Bonus+Make+Insured'

In [20]:
model=sm.ols(formula=formula_str, data=insurance_df)

In [21]:
fitted = model.fit()

In [22]:
print(fitted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Claims   R-squared:                       0.842
Model:                            OLS   Adj. R-squared:                  0.842
Method:                 Least Squares   F-statistic:                     2328.
Date:                Sat, 12 Feb 2022   Prob (F-statistic):               0.00
Time:                        08:12:13   Log-Likelihood:                -12659.
No. Observations:                2182   AIC:                         2.533e+04
Df Residuals:                    2176   BIC:                         2.536e+04
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     37.1230      7.127      5.209      0.000      23.146      51.100
Kilometres    -3.9649      1.226     -3.235      0.001      -6.368      -1.562
Zone          -6.2924      0.865     -7.277      0.000      -7.988      -4.597
Bonus         -4.2468      0.871     -4.877      0.000      -5.954      -2.539
Make           6.7725      0.676     10.025      0.000       5.448       8.097
Insured        0.0319      0.000    100.933      0.000       0.031       0.032
==============================================================================
Omnibus:                     2561.874   Durbin-Watson:                   1.931
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1103060.709
Skew:                           5.491   Prob(JB):                         0.00
Kurtosis:                     112.599   Cond. No.                     2.41e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.41e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

From the p-values we can see that Kilometres, Zone, Bonus, Make and Insured all affect the claim rates